pytest==7.4.0
requests==2.31.0
flake8==6.0.0
flake8-docstrings==1.7.0
flake8-rst-docstrings==0.3.0
mypy==1.4.1
types-setuptools==68.0.0.0
types-requests==2.31.0.1
types-pyyaml==6.0.12.10
pylint==2.17.4
